body{
    background-image: url(https://images.paramount.tech/uri/mgid:arc:imageassetref:mtv.com:d2906a58-a278-499a-af13-93a44e50f404?format=webp);
    background-size: cover;
    height:350vh;
    width:100%;

}

.navbar{
    display:flex;
    height: 35px;
    
}
.imageContainer{
    height: 44px;
    margin: 1em;
}
.episodeContainer{
    height: 44px;
    margin: 1em;
    margin-top: 650px;
    padding: 10px;
    display: flex;
    justify-content: space-between

}
.iconContainer{
    display:flex;
    justify-content: space-between;
}
   
}
.sidebar{
    height: 100%;
}
.sidebar:hover{
    cursor:pointer;

}
.mtvLogin{
    width:250px;
    height: 35px;
    font-size:14px;
    font-weight: bold;
    border-radius:5px;
    background-color: yellow;
    color:black;
    font-family: helvetica;
    margin-left:65%;
    cursor: pointer;
}
.mtvLogin:hover{
    background-color: hsl(60, 100%, 40%);
}
.image-container{
    object-fit: cover;
    height: 650px;
    width: auto;
}
.overlay-text{
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    font-family: arial;
    bottom: 250px;
    margin-bottom: 35px;
}
.text2{
    font-size:16px;
    font-weight: bold;
}
.text3{
    font-weight: lighter;
    font-size: 16px
}
.img {
    display: block;
    margin: 10px;
    border-radius: 7px;
}
.img2{
    position: absolute;
    bottom: -350px;
    right: 250px;
    
    
}
.btn2{
    width: 200px;
    height: 55px;
    font-size:16px;
    font-weight: bold;
    border-radius:5px;
    background-color: yellow;
    color:black;
    font-family: helvetica;
    cursor: pointer;
    position: absolute;
    right: 75px;
    margin-top: 450px
}
.text4{
    color: white;
    position: absolute;
    right: 95px;
    margin-top: 250px;
    font-family: helvetica;
    font-weight: bold;
    font-size: 40px;
}
.text5{
    color: white;
    position: absolute;
    right: 95px;
    margin-top: 295px;
    font-family: helvetica;
    font-size: 15px;
}
.text6{
    color: white;
    position: absolute;
    right: 95px;
    margin-top: 319px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: lighter;
}
.text7{
    color: white;
    position: absolute;
    margin-bottom: 15px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
}
.text72{
    color: white;
    position: absolute;
    margin-top: 28px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: lighter;
}
.text73{
    color: gray;
    position: absolute;
    margin-top: 47px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
}
.text8{
    color: white;
    position: absolute;
    margin-bottom: 15px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
}
.text82{
    color: white;
    position: absolute;
    margin-top: 28px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: lighter;
}
.text83{
    color: gray;
    position: absolute;
    margin-top: 47px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
}
.text9{
    color: white;
    position: absolute;
    margin-bottom: 15px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
}
.text92{
    color: white;
    position: absolute;
    margin-top: 28px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: lighter;
}
.text93{
    color: gray;
    position: absolute;
    margin-top: 47px;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
}